:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
}

a {color:#ffffff;}         /* Unvisited link  */
a:visited {color:#ffffff;} /* Visited link    */
a:hover {color:#ffffff;}   /* Mouse over link */
a:active {color:#ffffff;}  /* Selected link   */

/*CSS for link images*/
.item {
  list-style-type: none;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 10rem;
  
}
img {
  width: 6rem;
  height: 6rem;
  background-color: grey;
}
.caption {
  display: block;
  color: white;
}

.email {
  color: white;
  text-decoration: none !important;
}

/*End link image css*/

body::-webkit-scrollbar {
  width: 0.25rem;
}

.page{
  margin-left: 5rem;
  padding: 1rem;
}

ul{
  list-style-type: none;
}

input {
  background-color: #23232e;
  color: #b6b6b6;
  border: none;
  width: 100%;
  padding: 1rem 1rem;
  margin: 2rem 0;
  box-sizing: border-box;
}

.footer{
  position: relative;
  padding-top: 5rem;
  padding-left: 16rem;
  bottom: 1rem;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item-social {
  width: 100%;
}

.nav-item-home {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
  
}

div.page-nav {
  background-color: black;
  text-align: center;
}

div.page-nav span{
color: var(--text-secondary);
padding: 1rem;
}

div.page-nav a{
  padding: 1rem;
  color: var(--text-secondary);
}
/*****************/
/*****************/
/*****************/
/* Small screens */
/*****************/
/*****************/
/*****************/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .page{
    margin-left: 1rem;
    padding: 1rem;
    margin-bottom: 10rem;
  }

  .footer{
    margin-bottom: 5rem;
    padding-left: 1rem;
    z-index: -1;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-item-social{
    display: none;
  }
  
  .page-item-social{
    display: none;
  }
  
  p{
    margin:0;
  }

  main 
  {
    margin: 0;
  }

  div.page-nav span{
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  /*CSS for link images*/
.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 20rem;
  
}
img {
  width: 15rem;
  height: 15rem;
  background-color: grey;
}
.caption {
  display: block;
  color: white;
}
/*End link image css*/
  
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .nav-item-home{
    display: none;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}